@use "@abstractStyle" as g;

.footer
{
    background-color: map-get($map: g.$primary, $key: "dark");
    height: 300px;
    color: g.$white;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;

    @media (min-width: map-get($map: g.$breakPoint, $key: "M")) {
        grid-template-columns: repeat(2, 50%);
    }

    &--infos
    {
        display: none;
        padding: 20px;

        @media (min-width: map-get($map: g.$breakPoint, $key: "M")) {
            display: grid;
            grid-template-rows: 50px 100px auto;
        }

        &--title
        {
            font-family: g.$fontTitle;
            font-size: 30px;
            font-weight: bold;
        }

        &--desc
        {
            font-size: 15px;
            font-family: g.$fontBody;
            max-width: 360px;
        }

        &--links
        {
            display: grid;
            grid-auto-flow: column;
            grid-template-rows: repeat(3, auto);
            max-width: 360px;

            &--item
            {
                font-family: g.$fontSubtitle;
                font-size: 20px;
                font-weight: bold;
            }
        }
    }

    &--social
    {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        @media (min-width: map-get($map: g.$breakPoint, $key: "M")) {
            padding-right: 40px;
            align-items: flex-end;
        }

        &--cont
        {
            &--title
            {
                font-family: g.$fontSubtitle;
                font-size: 30px;
                font-weight: bold;
            }

            &--links
            {
                display: flex;
                align-items: center;
                justify-content: center;

                &--item
                {
                    font-size: 40px;
                    margin-left: 30px;

                    &:first-of-type
                    {
                        margin-left: 0;
                    }
                }
            }
        }
    }
}